<!-- skeleton -->
<ng-template #loadingSkeleton>
  <nz-skeleton
    [nzAvatar]="true"
    class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]"
    [nzShape]="circle"
    [nzActive]="true"
    [nzParagraph]="{ rows: 14 }"
  ></nz-skeleton>
</ng-template>
<!-- skeleton -->

<ng-container *ngIf="showContent; else loadingSkeleton">
  <div
    class="bg-white p-4 dark:bg-white/10 m-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative mb-[25px]"
  >
    <div
      class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]"
    >
      <div class="w-full overflow-x-auto">
        <nz-table [nzData]="menus" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>Menu Adı</th>
              <th>Sayfalar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menu of menus">
              <td>
                {{ menu.name }}
              </td>
              <td>
                <nz-table
                  *ngIf="menu.actions.length > 0"
                  [nzData]="menu.actions"
                  [nzShowPagination]="false"
                >
                  <thead>
                    <tr>
                      <th>Action Türü</th>
                      <th>HTTP Türü</th>
                      <th>Definition</th>
                      <th>Roller</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let action of menu.actions">
                      <td>{{ action.actionType }}</td>
                      <td>{{ action.httpType }}</td>
                      <td>{{ action.definition }}</td>
                      <td>
                        <button
                          (click)="
                            showRoles(newShowContent, action.code, menu.name)
                          "
                          nz-button=""
                          class="ant-btn capitalize bg-dark/10 hover:bg-dark-hbr border-none text-dark hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center gap-1 rounded-[4px] px-[20px] h-[44px]"
                        >
                          <svg
                            class="w-4 h-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            id="plus-circle"
                            aria-hidden="true"
                          >
                            <path
                              fill="currentColor"
                              d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z"
                            ></path>
                          </svg>
                          <span class="ng-star-inserted">Role Ata</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
                <div *ngIf="menu.actions.length === 0">
                  Action bulunmamaktadır.
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</ng-container>

<div nz-col nzXs="24" nzMd="12">
  <ng-template #newShowContent>
    <form #roleForm="ngForm" nz-form nzLayout="vertical">
      <div class="flex items-center justify-between px-3">
        <span class="text-sm text-black font-medium"
          >Ekli olduğu rol sayısı:</span
        >
        <nz-badge [nzCount]="count()" nzShowZero></nz-badge>
      </div>
      <nz-form-item>
        <nz-form-control>
          <div
            *ngFor="let role of roles; let i = index"
            class="flex items-center justify-between p-4 shadow-md text-black font-medium rounded-4 text-sm"
          >
            <span>{{ role.name }}</span>
            <nz-switch
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="role.status"
            ></nz-switch>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</div>
